<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="detect_non_translated" xsi:type="object">Comwrap\TranslatedPhrases\Console\DetectNonTranslated</item>
            </argument>
        </arguments>
    </type>
    <type name="Comwrap\TranslatedPhrases\Model\Filesystem\DirectoryRegistry">
        <arguments>
            <argument name="directories" xsi:type="array">
                <item name="code" xsi:type="string">app/code</item>
                <item name="vendor" xsi:type="string">vendor/magento</item>
            </argument>
        </arguments>
    </type>
    <type name="Comwrap\TranslatedPhrases\Model\Stores\IgnoredRegistry">
        <arguments>
            <argument name="ignoredLocales" xsi:type="array">
                <item name="en" xsi:type="string">en</item>
            </argument>
        </arguments>
    </type>
</config>
